{% include "header.html" %}
<center><h1>Tambah Data Dosen</h1></center>
<div class="container">
    <form action="/proses-tambah-dosen" method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">Nama Dosen</label>
          <input type="text" class="form-control" id="nama_dosen" name="nama_dosen" placeholder="Masukkan Nama Dosen">
        </div>
        <div class="input-group">
            <div class="wrapper">
                <div class="input-box">
                    <input type="text" class="form-control" name="judul_dosen[]">
                    <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                        <button class="btn btn-default add-btn" type="button">Tambah Judul</button>
                    </span>                    
                </div>
            </div>
         </div>
         <br>
        <button class="btn btn-primary" type="submit">Simpan</button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
 
      // allowed maximum input fields
      var max_input = 5;
 
      // initialize the counter for textbox
      var x = 1;
 
      // handle click event on Add More button
      $('.add-btn').click(function (e) {
        e.preventDefault();
        if (x < max_input) { // validate the condition
          x++; // increment the counter
          $('.wrapper').append(`
            <div class="input-box">
              <input type="text" class="form-control" name="judul_dosen[]"/>
              <a href="#" class="remove-lnk">Remove</a>
            </div>

          `); // add input field
        }
      });
 
      // handle click event of the remove link
      $('.wrapper').on("click", ".remove-lnk", function (e) {
        e.preventDefault();
        $(this).parent('div').remove();  // remove input field
        x--; // decrement the counter
      })
 
    });
  </script>